<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.dao.${className}Dao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="${package}.entity.${className}Entity" id="BaseResultMap">
#foreach($column in $columns)
        <result property="${column.attrname}" column="${column.columnName}"/>
#end
    </resultMap>

    <sql id="Base_Column_List">
        #foreach($column in $columns)${column.columnName}#if($velocityCount!=$columns.size()),#end#end

    </sql>
    #if(${xmlcrud})
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from ${tableName}
        where ${pk.columnName} = #{${pk.attrname},jdbcType=${pk.jdbcType}}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from ${tableName}
        where ${pk.columnName} = #{${pk.attrname},jdbcType=${pk.jdbcType}}
    </delete>

    <insert id="insert" parameterType="${package}.entity.${className}Entity">
        insert into ${tableName} (
            #foreach($column in $columns)${column.columnName}#if($velocityCount!=$columns.size()),#end#end
          )
        values (
            #foreach($column in $columns)#{${column.attrname},jdbcType=${column.jdbcType}}#if($velocityCount!=$columns.size()),#end#end
          )
    </insert>

    <insert id="insertSelective" parameterType="${package}.entity.${className}Entity">
        insert into ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides="," >
            #foreach($column in $columns)
<if test="${column.attrname} != null#if(${column.attrType} == "String") and ${column.attrname} != ''#end" >
                ${column.columnName},
            </if>
            #end
</trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #foreach($column in $columns)
<if test="${column.attrname} != null#if(${column.attrType} == "String") and ${column.attrname} != ''#end" >
                #{${column.attrname},jdbcType=${column.jdbcType}},
            </if>
            #end
</trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="${package}.entity.${className}Entity">
        update ${tableName}
        <set >
            #foreach($column in $columns)
<if test="${column.attrname} != null#if(${column.attrType} == "String") and ${column.attrname} != ''#end" >
                ${column.columnName} = #{${column.attrname},jdbcType=${column.jdbcType}},
            </if>
            #end
</set>
        where ${pk.columnName} = #{${pk.attrname},jdbcType=${pk.jdbcType}}
    </update>
    #end

</mapper>